.update-container {
    height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.updatebox{
    margin: auto;
    /* height: 340px; */
    width: 550px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.updateForm {
  display: flex;
  flex-direction: column;
}
.updateLabel {
  margin-bottom: 8px;
}
.updateInput {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.update-submit-btn {
  padding: 10px;
  background-color: #009e89e5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s ease;
}
.update-submit-btn:hover {
  transform: scale(1.04);
  background-color: rgb(33, 187, 148);
}
.error {
  color: #721c24; /* Dark red color for text */
  background-color: #f8d7da; /* Light red background color */
  border: 1px solid #f5c6cb; /* Border color */
  padding: 0.75rem 1.25rem; /* Padding for better spacing */
  margin-top: 10px; /* Margin from the top to separate from other elements */
  border-radius: 0.25rem; /* Rounded corners for a nicer look */
  display: inline-block; /* Display as an inline block to fit content width */
  transition: opacity 0.5s ease; /* Fade effect for hiding the error */
}
.error.hidden {
  height: 50px;
  opacity: 0; /* Set opacity to 0 to hide the error */
  transition: opacity 0.5s ease; /* Apply the same transition for hiding */
}
